body {

}

.center {
    text-align: center;
}

.slider-img {
    opacity: 0.9
}

.header {
    background-color: dimgray;
    text-align: center;
    height: 50px;
    padding-top: 15px;
}

.header-link {
    color: darkgray;
}

.header-link:hover {
    color: snow;
}

.header-text {
    color: darkgray;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.item-customize {
    margin-left: 50px;
}

.content {
    background-repeat: no-repeat;
    background-position: center;
    height: 900px;
}

.index {
    background-image: url("resources/DSC_0261withfont.jpg");
    background-size: cover;
}

.bio {
    background-image: url("resources/KtHqUeUcOaU.jpg");
    background-size: cover;
    opacity: 0.75;
}
.holidays {
    background-image: url("resources/Ocean inside.jpg");
    background-size: cover;
    opacity: 0.75;
}
.skills {
    background-image: url("resources/nTr5FTLo99Q.jpg");
    background-size: cover;
    opacity: 0.75;
}
